page-home {
    .logo {
        padding-top: 26%;
        margin-bottom: 120px;
        width: 40%;
        height: 40%;
    }

    .myTxt{
        color: #4A75EF;
    }

    .fotter{
        margin-top: 60%;
        color: gray;
    }
    
}
